<form action="/answer" method="post" class="game_form_answer">
    <input type="text" name = "answer" class="game_input_answer"/>
    <button class="game_button_right" type="submit">Answer</button>
    <div class="clearfix"></div>
</form>
{% include "game_hint_button.html" %}
<br>
<br>
{% include "game_left_button.html" %}
<!--
{% if answer %}
    {% include "game_right_button.html" %}
{%endif%}
-->
<div class="clearfix"></div>


<!--
<form action="/game" method="post">
    {% if stage_index > 0 %}
    <button class="game_button_left" type="submit" name = "direction" value = "0">Prev</button>
    {% endif %}
    {% if answer %}
        {% if stage_index < last_stage_index-1 %}
        <button class="game_button_right" type="submit" name = "direction" value = "1">Next</button>
        {% endif %}
    {%endif%}
    <div class="clearfix"></div>
</form>
-->