{% extends "layout.html" %}

{% block body %}
<div class="col-xl-3 col-md-5 col-sm-7">
    <div id="container">
        <a href ="/">Return</a>
        <h1>{{game_data.title}}</h1>

        <div id = "game_details_container">
            {{game_data.description}}
        </div>
        <br>
        <br>
        {% if released %}
        <form action="/game" method="post">
            <!--<input type="hidden" name="game_name" value="{{ game_data.game_name }}">-->
            <button type="submit" >Play</button>
        </form>
        {% else %}
            <p class="form_message">
                Game is not released yet.
            </p>
        {% endif %}
    </div>
</div>
{% endblock %}