{% extends "layout.html" %}

{% block body %}
<div class="col-xl-3 col-md-5 col-sm-7">
    <div id="container">
        <h1>Welcome {{login}}</h1>
        <a href = "/logout">Log out</a>

        <h3>Games</h3>
        {% if games is not none%}
            
            <div id = "games_list">
                {%for game in games %}
                <div class ="games_list_element">
                    <div class="game_image" style="background-image:url('{{ game.image }}')">

                    </div>
                    <br>
                    <form action="/game_details" method="post">
                        <!--<input type="hidden" name="game_list_element_index" value={{loop.index-1}}>-->
                        <input type="hidden" name="game_name" value="{{game.name}}">
                        <button type="submit" >{{game.name}}</button>
                    </form>
                </div>
                {% endfor%}
            </div>
        {%endif%}

    </div>
</div>
{% endblock %}